@import "tailwindcss";

@theme {
  --color-sidebar-bg: #0f172a;
  --color-sidebar-hover: #1e293b;
  --color-brand-primary: #2563eb;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f8fafc;
  font-family: Inter, system-ui, sans-serif;
}